<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT test ANY>
<!ATTLIST test id ID #REQUIRED>
<!ELEMENT exerciseDetails ANY>
<!ATTLIST exerciseDetails id ID #REQUIRED>
<!ELEMENT memberDashboard ANY>
<!ATTLIST memberDashboard id ID #REQUIRED>
<!ELEMENT loginPage ANY>
<!ATTLIST loginPage id ID #REQUIRED>
]>
<root id="-1">
  <loginPage id="1058" key="3c397337-9da7-4fe5-a722-7b53e7e3e6b9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-24T11:02:01" updateDate="2018-07-09T19:32:33" nodeName="Login" urlName="login" path="-1,1058" isDoc="" nodeType="1054" creatorName="Leila Armoush" writerName="Leila Armoush" writerID="0" template="1053" nodeTypeAlias="loginPage" isPublished="true" />
  <memberDashboard id="1060" key="f61cadfd-4b81-4ddd-b7e5-0fa09d4a87a0" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-06-24T11:58:26" updateDate="2018-06-24T11:59:11" nodeName="MemberDashboard" urlName="memberdashboard" path="-1,1060" isDoc="" nodeType="1057" creatorName="Leila Armoush" writerName="Leila Armoush" writerID="0" template="1056" nodeTypeAlias="memberDashboard" isPublished="true" />
  <exerciseDetails id="3059" key="502b18d9-b4c2-4545-98d8-413aa9649fa4" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-06-29T22:06:54" updateDate="2018-06-29T23:10:10" nodeName="ExerciseDetails" urlName="exercisedetails" path="-1,3059" isDoc="" nodeType="2059" creatorName="Leila Armoush" writerName="Leila Armoush" writerID="0" template="2058" nodeTypeAlias="exerciseDetails" isPublished="true" />
  <test id="4073" key="c2875a01-8f53-4051-8904-8af01ebf110a" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-07-01T22:43:14" updateDate="2018-07-01T22:43:14" nodeName="test" urlName="test" path="-1,4073" isDoc="" nodeType="4072" creatorName="Leila Armoush" writerName="Leila Armoush" writerID="0" template="4071" nodeTypeAlias="test" isPublished="true" />
</root>