table{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
}

th{
    width: 14.2%;
    text-align: center;
    border: 1px solid grey;
}
td {
    width: 14.2%;
    text-align: center;
    border: 1px solid grey;
}
h1{
    text-align: center;
}