<div ng-controller="CalenderInputForm.CalenderInputFormController">
    <!--<h1 ng-model="model.value">July</h1>
    <table class="calender-month">
        <tr>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thurs</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        <tr>
            <td>{{inputBox}}</td>
            <td>" "</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
        </tr>
        <tr>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
        </tr>
        <tr>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
        </tr>
        <tr>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
        </tr>
        <tr>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
            <td>" "</td>
        </tr>
    </table>
    <a ng-click="expandCell">test</a>-->
</div>